* {
    box-sizing: border-box;
}

.category_content {
    width: 272px;
    height: 320px;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.02);
    background-color: #ffffff;
    margin: 8px 8px;
}

.category_content a {
    text-decoration: none;
}

.category_thumbnail {
    height: 160px;
    width: 160px;
    margin-top: 48px;
    margin-bottom: 16px;
}

.category_text {
    font-family: Rubik;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.44;
    letter-spacing: normal;
    text-align: center;
    color: #5e5e5e;
    margin-top: 16px;
}

.star {
    margin-right: 8px;
    margin-top: -2px;
}

.review_text {
    opacity: 0.4;
    font-family: Rubik;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292c32;
    margin: auto 0px;
}

a:hover {
    text-decoration: none;
}

.header {
    height: 360px;
    background-image: linear-gradient(74deg, #342e54, #054a91);
    opacity: 0.81;
    background-size: cover;
}

.logo {
    width: 134px;
    height: 38px;
    object-fit: contain;
}

.heading {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
    margin: 0px 16px;
}

.card {
    border: none;
}

.nav-link:hover {
    color: #ffffff;
}

.navbar-nav .nav-link {
    color: rgba(255, 255, 255, 1.0);
}

.navbar-expand-sm .navbar-nav .nav-link {
    padding-right: 0rem;
    padding-left: 0rem;
}

.searchbox {
    width: 43.75%;
    border-radius: 28px;
    display: inline-block;
    height: 56px;
    background-color: #f7f7f7;
    border: none;
    min-width: 280px;
}


/* input::placeholder {
    font-family: Rubik;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5b5b5b;
    /* padding-top: 18px;
padding-left: 76px;} */

input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    /* position: relative;
top: 18px;
left: -1%; */
    width: 75%;
    background-color: #f7f7f7;
    border: none;
}

.search-icon {
    width: 20px;
    height: 20px;
    /* position: relative;
left: 5.0%;
top: 19px; */
    padding-top: 19px;
    padding-bottom: 35px;
    color: #57a3f9;
    margin-right: 4.2%;
}

.main {
    height: 679px;
    background-color: #ffffff;
}

.BVRMotto {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    max-width: 918px;
}

.stayuptodate {
    width: 480px;
    height: 240px;
    border-radius: 12px;
    box-shadow: 0 8px 8px 0 rgba(41, 44, 50, 0.2);
    background-image: linear-gradient(63deg, #342e54, #054a91);
    min-width: 480px;
}

.submitamazon {
    width: 480px;
    height: 240px;
    border-radius: 12px;
    box-shadow: 0 8px 8px 0 rgba(41, 44, 50, 0.2);
    background-image: linear-gradient(299deg, #473b7b, #3584a7 51%, #30d2be);
    min-width: 480px;
}

.stayuptodateheading {
    font-family: Rubik;
    font-size: 18px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    color: #ffffff;
    padding: 44px 0px 8px 44px;
}

.all-rights-reserved {
    font-family: Rubik;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.83;
    letter-spacing: normal;
    color: #a1a1a1;
    margin: 66px 0px 29px 0px;
}

.stayuptodatetext {
    font-family: Rubik;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #ffffff;
    max-width: 352px;
    padding: 0px 0px 30px 44px;
}

.email-input {
    width: 272px;
    height: 40px;
    opacity: 0.3;
    border-radius: 4px;
    background-color: #000000;
    margin-left: 44px;
    margin-right: 8px;
    max-width: 272px;
}

.url-input {
    width: 272px;
    height: 40px;
    opacity: 0.2;
    border-radius: 4px;
    background-color: #000000;
    margin-left: 44px;
    margin-right: 8px;
    max-width: 272px;
}

.btn-subscribe {
    width: 112px;
    height: 40px;
    border-radius: 2px;
    background-color: #57a3f9;
    color: #ffffff;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
}

.btn-subscribe:hover {
    color: #ffffff;
}

.btn-submit {
    width: 112px;
    height: 40px;
    border-radius: 2px;
    background-color: #63ccac;
    color: #ffffff;
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
}

.btn-submit:hover {
    color: #ffffff;
}

.miscellaneous-categories {
    opacity: 0.7;
    font-family: Rubik;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #5e5e5e;
    height: 14px;
    margin: 5px 0px;
}

.nav-bottom {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #292c32;
}

.nav-bottom:hover {
    text-decoration: none;
    color: #292c32;
}

.divier-bottom {
    opacity: 0.3;
    border-top: 1px solid #d8d8d8;
    margin-left: -2px;
    margin-top: 15px;
    margin-bottom: 35px;
}

.BestViewsReviews-BV {
    font-family: Rubik;
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.33;
    letter-spacing: normal;
    color: #5e5e5e;
    max-width: 677px;
    margin-bottom: 38px;
}

.Get-notified-about-t {
    width: 358px;
    height: 20px;
    opacity: 0.5;
    font-family: Rubik;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.43;
    letter-spacing: normal;
    color: #292c32;
    margin-bottom: 18px;
}

.email-input-bottom {
    width: 272px;
    height: 40px;
    border-radius: 4px;
    background-color: #ffffff;
    border: none;
    position: relative;
    top: 3px;
}

.btn-subscribe-bottom {
    width: 112px;
    height: 40px;
    border-radius: 2px;
    background-color: #57a3f9;
}

.btn-subscribe-bottom:hover {
    color: #ffffff;
}

.btn-text-bottom {
    font-family: Rubik;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.dropdown-menu {
    min-width: 5rem;
    width: 96px;
}

.btn :hover {
    border: none;
}

.btn:active {
    border: none;
}

.section-left {
    min-width: 656px;
    margin-right: 16px;
    padding: 0px;
}

.section-right {
    min-width: 464px;
    padding: 0px
}

.middle-image{
    width:656px;
    height:536px;
}
.middle-image-2{
    width:464px;
    height:256px;
}
/* .btn-three-card {
    border-radius: 2px;
    background-color: #57a3f9;
    margin-left: 32px;
}

.btn-three-card:hover {
    color: #ffffff;
}

.btn-text {
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
} */


/* 
.title-main {
    font-family: Rubik;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 32px;
    max-width: 573px;
}

.title-secondary {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 32px;
    max-width: 400px;
}

.card-name {
    font-family: Rubik;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
} */

.date {
    opacity: 0.6;
    font-family: Rubik;
    font-size: 12px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
    margin-left: 16px;
}

.popular-categories-title {
    font-family: Rubik;
    font-size: 36px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #292c32;
    margin-top: 105px;
}

.recent-products-title {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.22;
    letter-spacing: normal;
    color: #292c32;
    text-align: center;
    margin-bottom: 24px;
}

.recent-product {
    width: 272px;
    height: 320px;
    border-radius: 4px;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.02);
    background-color: #ffffff;
    margin-right: 16px;
}

.recent-product-title {
    font-family: Rubik;
    font-size: 17px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: -0.09px;
    color: #57a3f9;
    text-align: center;
}

.popular-category {
    width: 344px;
    height: 484px;
    border-radius: 4px;
    box-shadow: 0 16px 16px 0 rgba(0, 0, 0, 0.05);
    background-color: #ffffff;
    /* margin-left: 26px; */
    margin-right: 32px;
    margin-bottom: 52px;
    max-width: 344px;
}

.category-image {
    width: 344px;
    height: 160px;
    border-radius: 4px 4px 0px 0px;
    padding: 0px;
    margin-left: -15px;
}

.category-title {
    font-family: Rubik;
    font-size: 24px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.25;
    letter-spacing: normal;
    color: #ffffff;
    position: relative;
    bottom: 50px;
}

.category-title-link {
    text-decoration: none;
    color: #ffffff;
}

.category-title-link:hover {
    color: #ffffff;
}

.product-image {
    width: 56px;
    height: 56px;
    mix-blend-mode: multiply;
    margin-left: 32px;
    margin-right: 24px;
}

.product-text {
    opacity: 0.8;
    font-family: Rubik;
    font-size: 12px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #292c32;
    max-width: 200px;
    /* margin-top: 9px; */
    position: relative;
    top: 9px;
}

.product-text-link {
    text-decoration: none;
    color: #292c32;
}

.product-text-link:hover {
    color: #57a3f9;
}

.view-all {
    height: 44px;
    background-color: #57a3f9;
    color: #ffffff;
    position: relative;
    top: 44px;
    border-radius: 0px 0px 4px 4px;
    padding-top: 11px;
    font-family: "Rubik", sans-serif;
    font-size: 13px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.5;
    letter-spacing: normal;
}

.view-all:hover {
    color: #ffffff;
}

.divier {
    opacity: 0.3;
    border-top: 1px solid #d8d8d8;
    margin-left: 97px;
    width: 173px;
    position: relative;
    bottom: 11px;
}